<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link">
      На главную
    </button>
  </div>

  <div class="info">
    <strong>
      Автор
    </strong>
    <small>09.09.20</small>
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam culpa cupiditate dolorem, illum in incidunt nobis perferendis unde veniam? Ab aut consectetur delectus dolorem iste perferendis porro provident vel!</div>
</div>
